body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #4caf50;
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

input {
    width: 60%;
    max-width: 300px;
}

input:focus {
    box-shadow: 0 0 5px #4caf50;
}

button {
    background: #4caf50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background: #326d35;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: white;
    text-align: left;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
